export SERVICE_PORT=5000

export MYSQL_CLIENT=mysql
export MYSQL_HOST=127.0.0.1
export MYSQL_USERNAME=kata
export MYSQL_PASSWORD=katapassword
export MYSQL_PORT=13306
export MYSQL_DATABASE=wache
export MYSQL_MIGRATION=migrations

export REDIS_TYPE=""
export REDIS_HOST=localhost
export REDIS_PORT=16379
export REDIS_AUTH=""
export REDIS_TTL=30
export REDIS_SENTINEL_NAME=""
export REDIS_PREFIX=""

export LOGGLY_CUSTOM_TAGS="wache-platform-development"
export LOGGLY_TOKEN="00000000-0000-0000-0000-000000000000"

export MAIL_FORGOT_PASSWORD_TEMPLATE_ID=""
export MAIL_FORGOT_PASSWORD_SUBJECT=""
export PLATFORM_URL=""
export JWT_SECRET_KEY="supersecretkey"
export POSTBOTE_URI=""
export PLUGIN_ENV="development"

export LDAP_ACTIVE="true"
export LDAP_SCHEME="ldap"
export LDAP_HOST="localhost"
export LDAP_PORT="20389"
export LDAP_DOMAIN="example.org"
export LDAP_USER_ROLE_ID="fc82660d-5953-4762-bc92-3c655c07a41f"
export LDAP_SEARCH_USERNAME="admin"
export LDAP_SEARCH_PASSWORD="admin"
export POSTBOTE_URI="http://postbote.katalabs.io"
export MAIL_FORGOT_PASSWORD_TEMPLATE_ID="CHANGE_ME"
export MAIL_FORGOT_PASSWORD_SUBJECT="CHANGE_ME"
export PLATFORM_URL="CHANGE_ME"
export JWT_SECRET_KEY="CHANGE_ME"
export REDIS_PREFIX="CHANGE_ME"
